.padd{
    margin-top: 150px;
    
    }
    
    
    .fom{
        padding: 36px;
        /* background-color: #8bc7e5; */
        background: rgb(0,168,255);
        background: linear-gradient(90deg, rgba(0,168,255,0.8071603641456583) 44%, rgba(23,40,184,0.6446953781512605) 84%);
        border-radius: 0 20px 0 20px;
        box-shadow: 5px 10px 20x 2px;
        box-shadow: -11px 7px 56px -6px rgba(87,87,255,0.68);
    
    }
    